* {
	margin: 0px;
	padding: 0px;
	padding-inline-start: 0px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	list-style: none;
	box-sizing: border-box;
}

#app {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#info {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 40%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.92);
	overflow-y: scroll;
}

#view {
	width: 100%;
	height: 100%;
}

iframe {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#article {
	color: white;
}

img {
	max-width: 100px;
}
